.git
.github
.env
.env.*
**/.env
**/.env.*
**/node_modules
**/__mf__virtual
dist
build
coverage
storybook-static
playwright-report
test-results
playwright-report-docker
test-results-docker
**/*.log
**/*.tsbuildinfo
**/*.pem
**/*.key
.vscode
.idea
docs
